<div id="ho-context-menu">
  <ul class="dropdown-menu">
    <li><a id="change-file" tabindex="-1" href="#">Byt namn</a></li>
    <li><a id="delete-file" tabindex="-1" href="#">Ta bort</a></li>
    <li class="divider"></li>
    <li><a id="create-file" tabindex="-1" href="#">Skapa fil</a></li>
    <li><a id="create-folder" tabindex="-1" href="#">Skapa mapp</a></li>
    <li class="divider"></li>
    <li><a id="upload-files" tabindex="-1" href="#">Ladda upp filer</a></li>
  </ul>
</div>
<!-- Modals -->
<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Stäng</span></button>
        <h4 class="modal-title" id="myModalLabel">Ta bort</h4>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Stäng</button>
        <button id="js-modal-delete-file" type="button" class="btn btn-primary">Ta bort filen</button>
      </div>
    </div>
  </div>
</div>
<div class="modal" id="upload-file-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Stäng</span></button>
        <h4 class="modal-title" id="myModalLabel">Ladda upp filer</h4>
      </div>
      <div class="modal-body">
        <form action="/?action=create_media" class="dropzone" id="dropzoneUpload">
          <input type="hidden" id="upload-file-path" name="file_path" value="" />
          <div class="dz-message needsclick">
            Släpp filer här eller klicka för att ladda upp.<br />
            {# Drop files here or click to upload.<br /> #}
            {# <span class="note needsclick">(This is just a demo dropzone. Selected files are <strong>not</strong> actually uploaded.)</span> #}
          </div>
          {# <input type="file" name="file" multiple /> #}
        </form>
        {# <form action="/file-upload" class="dropzone">
          <div class="fallback">
            <input name="file" type="file" multiple />
          </div>
        </form> #}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Stäng</button>
        {# <button id="js-modal-delete-file" type="button" class="btn btn-primary">Ta bort filen</button> #}
      </div>
    </div>
  </div>
</div>
{# 
<div class="modal" id="myModal-1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Stäng</span></button>
        <h4 class="modal-title" id="H1">Meddelande</h4>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button id="js-modal-1-ok" type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>
 #}
<div class="modal" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Stäng</span></button>
        <h4 class="modal-title" id="H2">Felmeddelande</h4>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>