<div id="tabs-editor-container" class="tabs-editor-container">
  <ul id="tabs" class="nav nav-tabs"></ul>
</div>
{# <div class="editor hide">
  <div id="editor" data-format="json" style="height: 100%;position:relative">{
  "options": {
    "form": {
      "ayout": {
        "idebar": [
          "lider",
          "eatures_title",
          "eatures",
          "lider_rel"
        ]
      }
    }
  }
}</div>
</div> #}