<div class="topper">
  <h1 class="page-header page-header--collapse">Form</h1>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8 col-md-8">
      <div data-type="property-item" data-key="title" data-value="" data-config='{"type":"string","title":"Titel","required":true,"default_value":"Titel"}'></div>
      <div data-type="property-item" data-key="summary" data-value="" data-config='{"type":"text","title":"Summary"}'></div>
      <div data-type="property-item" data-key="date_time" data-value="" data-config='{"type":"string","title":"Date","format":"date"}'></div>
      <div data-type="property-item" data-key="boolean" data-value="" data-config='{"type":"boolean","title":"Boolean"}'></div>
      <div data-type="property-item" data-key="enum" data-value="" data-config='{"type":"string","title":"Enum","default_value":"Välj nåt","enum":["chocolate","strawberry","birthdays","holidays"]}'></div>
    </div>
    <div class="col-sm-4 col-md-4">
      <div data-type="property-item" data-key="image" data-value="" data-config='
        {
          "type": "relationship",
          "title": "Bild",
          "multiple": false,
          "data": [
            {
              "type": "assets"
            }
          ]
        }
        '>
      </div>
      <div data-type="property-array" data-key="object_array" data-value="" data-config='
        {
          "type":"array",
          "title":"Array-Object", 
          "items": {
            "type": "object",
            "title": "Object",
            "properties": {
              "heading": {"type":"string","title":"String","placeholder":"Skriv din rubrik här...","escription":"Skriv din rubrik här...","efault_value":"Heading","required":true},
              "text": {"type":"text","title":"Text","placeholder":"Skriv din text här...","efault_value":"Text","field": {"height": "100px"}},
              "boolean": {"type":"boolean","title":"Boolean","default_value":false}
            }
          }
        }
        '>
      </div>
    </div>
  </div>
</div>