{% set meta = 'meta' | resource('id[eq]=template_custom') | first %}
{% if process_env_public %}
  {% set site_url = 'http://' + meta.attributes.value + '.cloudpen.io' %}
{% else %}
  {% set site_url = 'http://localhost:5000' %}
{% endif %}

{% if req.query.mode !== 'embed' %}
<div class="topper navbar-fixed-top">
  {% if req.query.code %}
  {# 
  <a
    href="/"
    onclick="$(this).next().remove();"
    target="blank_ide"
    data-trigger="hover"
    data-toggle="tooltip"
    data-placement="left"
    title="Nytt fönster"
    class="btn btn-black pull-right"
    style="margin: -8px 7px 0 0;"
  >
    Nytt fönster&nbsp; 
    <span class="fa fa-external-link"></span>
  </a>
   #}
  {% endif %}
  {% if req.query.mode !== 'blank' %}
  <a 
    href="frame?mode=blank"
    nclick="$(this).next().remove()"
    data-trigger="hover"
    target="blank_ide_frame"
    data-toggle="tooltip"
    data-placement="left"
    itle="Full editor"
    class="btn btn-black pull-right"
    style="margin: -8px 7px 0 0;"
  >
    Full editor
    &nbsp; 
    <span class="fa fa-external-link"></span>
  </a>
  {% endif %}
  <a
    href="{{site_url}}"
    onclick="$(this).next().remove()"
    data-trigger="hover"
    target="blank_website"
    data-toggle="tooltip"
    data-placement="left"
    itle="Se webbplatsen"
    class="btn btn-black pull-right"
    style="margin: -8px 7px 0 0;"
  >
    Besök webbplatsen
    &nbsp; 
    <span class="fa fa-external-link"></span>
  </a>
  <h1 class="page-header page-header--collapse">Design</h1>
</div>
{% else %}
<style type="text/css">
  body {
    padding-top: 0;
  }
  .sidebar {
    top: 0;
  }
</style>
{% endif %}
{# 
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Design</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Dashboard</a></li>
        <li><a href="#">Settings</a></li>
        <li><a href="#">Profile</a></li>
        <li><a href="?code={{req.query.code}}" target="_blank">Eget fönster <span class="fa fa-external-link" aria-hidden="true"></span></a></li>
        <li><a href="#">Help</a></li>
      </ul>
      <form class="navbar-form navbar-right">
        <input type="text" class="form-control" placeholder="Search...">
      </form>
    </div>
  </div>
</nav> #}