{% set meta = 'meta' | resource('id[eq]=template_custom') | first %}
{% set template_name = meta.attributes.value %}
<div id="filetree" data-root-name="{{template_name}}"></div>
{# {{ context.meta['template'] }} #}
{# <div id="filetree" data-root-name="{{template_name}}"></div> #}