{% set meta = 'meta' | resource('id[eq]=template_custom') | first %}
{% if process_env_public %}
  {% set site_url = 'http://' + meta.attributes.value + '.cloudpen.io' %}
{% else %}
  {% set site_url = 'http://localhost:5000' %}
{% endif %}

<!DOCTYPE html>
<html lang=”en”>
  <head>
    <meta charSet="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>IDE - CMS Editor</title>
    <style type="text/css">
      #toolbar {
        background: #303130;
        margin: 0;
        padding: 0;
      }
      #code {
        background: #303130;
        margin: 0;
        padding: 0;
      }
      #page {
        background: #fff;
        margin: 0;
        /* overflow-x: hidden; */
        padding: 0;
      }
      frameset {
        transition: width 250ms ease-in-out 0s;
      }
    </style>
    <!-- CMS UIKit JavaScript -->
    {% if process_env_public %}
      <script src="//sdk.cloudpen.io/js/cms-uikit-0.1.0.js"></script>
    {% else %}
      <script src="//localhost:8000/js/cms-uikit-0.1.0-dev.js"></script>
    {% endif %}
  </head>
  <frameset rows="48, *" style="margin:0;padding:0;" border="0" bordercolor="#000">
    <frame id="toolbar" name="toolbar" src="/?render=header&mode={{req.query.mode}}" frameborder="0" marginheight="0" marginwidth="0" scrolling="no" />
    <frameset id="code-page" cols="*, {% if req.query.mode === 'blank' %}768{% else %}480{% endif %}" style="margin:0;padding:0;" border="1">
      <frame id="code" class="code" name="code" src="/?mode=embed" frameborder="1" marginheight="0" marginwidth="0" scrolling="no" />
      <frame id="page" class="page" name="page" src="{{site_url}}/blogg?cms_edit=true" frameborder="1" marginheight="0" marginwidth="0" scrolling="yes" />
    </frameset>
  </frameset>
</html>