<!DOCTYPE html>
<html lang=”en”>
  <head>
    <meta charSet="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>IDE - CMS Editor</title>
    <!-- CMS UIKit CSS -->
    {% if process_env_public %}
      <link rel="stylesheet" href="//sdk.cloudpen.io/css/cms-uikit-0.1.0.css" />
    {% else %}
      <link rel="stylesheet" href="//localhost:8000/css/cms-uikit-0.1.0.css" />
    {% endif %}
    <link rel="stylesheet" href="/assets/css/jaofiletree.css" />
    <link rel="stylesheet" href="/assets/css/default.css" />
    <link rel="stylesheet" href="/assets/css/dropzone.css" />
  </head>
  <body>
    {% if req.query.render === 'header' %}
      {% include 'partials/header.html' %}
    {% else %}
      {% include 'partials/header.html' %}
      <div class="container-fluid">
        <div class="row">
          <div class="sidebar">
            <div class="treeview">
              {% include 'partials/tree-view.html' %}  
            </div>
          </div>
          <div class="col-md-12 ide_main">
            {% include 'partials/editor.html' %}
            <div class="loader" style="display: flex;isibility:visible"><div class="content">Laddar filen...</div></div>
          </div>
        </div>
      </div>
    {% endif %}
    {% include 'partials/dialogs.html' %}
    <script type="text/javascript">
      window.accessToken = '{{req.accessToken}}';
      window.context = {
        bucket_id: '{{req.bucketId}}'
      }
    </script>
    <!-- CMS UIKit JavaScript -->
    {% if process_env_public %}
      <script src="//sdk.cloudpen.io/js/cms-uikit-0.1.0.js"></script>
    {% else %}
      <script src="//localhost:8000/js/cms-uikit-0.1.0-dev.js"></script>
    {% endif %}
    <script src="/assets/js/jquery-ui-1.9.1.js"></script>
    <script src="/assets/js/jaofiletree.js"></script>
    <script src="/assets/js/tree-view-context-menu.js"></script>
    <!-- Your own JavaScript -->
    <script src="/assets/js/jquery.cookie.js"></script>
    <script src="/ace-builds/src-min-noconflict/ace.js"></script>
    {# 
    <script src="/assets/js/editor.js"></script>
     #}
    <script src="/assets/js/dropzone.js"></script>
    <script src="/assets/js/tree-view.js"></script>
  </body>
</html>