html {}
body {background: #222; padding-top: 48px;}

.navbar {background-color: #292929;}

/* Tree view */
.sidebar {position: fixed;top: 48px;bottom: 0;left: 0;z-index: 1000;display: block;padding: 0px;overflow-x: hidden;overflow-y: auto;background-color: #303130;border-right: 1px solid #181818;width: 150px;}
#filetree input.crud-input {color:#000;padding: 1px 0px 0px 2px;}
#filetree input.crud-input {background: #748512;background: transparent;border: solid 1px #748512;color:#fff;}

/* ide_main */
.topper {padding-top: 13px;padding-left: 10px;}
.ide_main {height: 100%;padding-left: 150px;}
.ide_main .topper {margin: 0 -10px 20px -10px;padding-left: 20px;}
.ide_main [data-type="property-item"] label {color: #fff;}

.tabs-editor-container {height: 100%;margin: 0 -10px;}
.nav-tabs {border: none;adding-top:5px;order-bottom: solid 5px #303130;isplay: none;}
.nav-tabs li {margin-bottom: 0;}
.nav-tabs .ui-state-active a {background-color: #303130;border: solid 1px #ddd;border: solid 1px transparent;order-radius: 0 !important;color: #fff;cursor: default;}
.nav-tabs li a {background-color: #282828;color:#fff;cursor: default;min-width: 200px;outline: none;text-align: center;line-height: .8 !important;padding: 20px 30px 20px 15px;padding: 10px 25px 10px 10px;border-radius: 0 !important;}
.nav-tabs li a:hover, .nav-tabs li a:active, .nav-tabs li a:focus {background-color: #303130;border: solid 1px transparent;}
.nav-pills .ui-state-active a {background-color: #428bca !important;color: #fff !important;}
.nav .fa-remove {color: #555;right: 10px;top: 13px;position: absolute;line-height: 0;cursor: pointer;}
.nav a .fa-remove:hover {color: #fff;display: inline-block;}
.editor {background: #303130;overflow:hidden;padding-top: 10px;}
.editor.image {width: 100%;background: transparent;height: 100%;position: relative;text-align: center;padding-top: 10%;}
.ace_editor {border-radius: 0;margin-left:-7px;height: 100%;}
#loader {display: none;padding: 0 15px;background:#748512;float: right;line-height: 33px;margin: 0 0px 0 0;}
#loader .text {color: #fff;}
#loader .fa-loader:before {background: url(/cms/scripts/adapter/jaofiletree/img/ver-1/spinner-selected.gif);content: ' ';vertical-align:middle;margin: -2px 0 0 10px;width: 16px;height: 16px;display: inline-block;argin-top: -8px;}
.loader {background-color: #222;border-radius: 0;padding: 10px;vertical-align: middle;}
.loader .content {background-color: transparent;box-shadow: none;color: #fff;}
.loader .content:before {color: #fff;margin-top: -1px;}
#ho-context-menu {z-index: 2000;}

.btn-black {background-color: #202020;color: #fff;}
.btn-black:hover {background-color: #181818;color: #fff;}
.btn-black:active {background-color: #111;color: #fff;}
.btn-black:focus {color: #fff;}

/* Implement in sdk */
.container-fluid {eight: auto;}
.topper {margin: 0;}
.navbar {background-color: #292929;border-bottom:solid 1px #181818;min-height: 0;}
.navbar a, .navbar-nav>li>a {padding-top: 14px;padding-bottom: 13px;}
.navbar form {margin-top: 7px;margin-bottom: 6px;}

/* Ambiance */
.topper {background-color: #303130;border-bottom: solid 1px #181818;box-shadow: none;}
.topper h1 {color: #fff;}
.navbar {background-color: #292929;}

.ace-ambiance {background-color: #222 !important}
.ace-ambiance .ace_gutter {border-right: 1px solid #303130 !important }
.ace-ambiance .ace_gutter-layer {background-image: none !important;background-color: #303130 !important}
.ace-ambiance .ace_text-layer {background-image: none !important;}
.ace_gutter-cell {color: #111 !important;text-shadow: 0px 1px 1px #4d4d4d !important}
.ace_scroller {box-shadow: inset -5px -5px 10px black !important;box-shadow: inset 0 0 2px 0px #111 !important;}

@media (min-width: 768px) {
  .sidebar {padding: 10px;width: 260px;}
  .ide_main {padding-left: 270px;}
}
