ul.jaofiletree {
  font-family: Verdana, sans-serif;
  font-size: 11px;
  line-height: 18px;
  padding: 0px;
  margin: 0px;
}

ul.jaofiletree li {
  border-radius: 3px;
  list-style: none;
  padding: 0px;
  adding-left: 20px;
  margin: 0px;
  white-space: nowrap;
}

#filetree > ul > li {
  padding-left: 0;
}

ul.jaofiletree li input[type="checkbox"] {
  display: none;
}

ul.jaofiletree a {
  border-radius: 3px;
  color: #FFF;
  cursor: default;
  text-decoration: none;
  display: block;
  outline: none;
  padding: 0px 2px;
}

ul.jaofiletree a:hover {
  ont-weight: bold;
}
ul.jaofiletree li.selected > a {
  background: #748512;
}

ul.jaofiletree li.selected.inactive > a {
  background: #252525;
}

#filetree li a span {display: inline-block;line-height: 20px;margin: 0 2px;padding: 0 1px 1px;vertical-align: middle;}
#filetree li li a:before {content: ' ';width: 10px;display: inline-block;height: 10px;line-height: 20px;margin: 0 1px;padding: 0 1px 1px;vertical-align: middle;}
#filetree li li li a:before {content: ' ';width: 20px;display: inline-block;height: 10px;line-height: 20px;margin: 0 1px;padding: 0 1px 1px;vertical-align: middle;}
#filetree li li li li a:before {content: ' ';width: 30px;display: inline-block;height: 10px;line-height: 20px;margin: 0 1px;padding: 0 1px 1px;vertical-align: middle;}
#filetree li li li li li a:before {content: ' ';width: 40px;display: inline-block;height: 10px;line-height: 20px;margin: 0 1px;padding: 0 1px 1px;vertical-align: middle;}
#filetree li li li li li li a:before {content: ' ';width: 50px;display: inline-block;height: 10px;line-height: 20px;margin: 0 1px;padding: 0 1px 1px;vertical-align: middle;}
#filetree li .arrow {background-image: url("img/ver-1/arrow.png");background-position: 0 0;background-repeat: no-repeat;cursor: pointer;display: inline-block;height: 10px;width: 10px;cursor: pointer;display: inline-block;height: 10px;width: 10px;}
#filetree li.expanded > a > .arrow {background-position: -10px 0;}
#filetree li.file .arrow {visibility:hidden;}
#filetree li .icon {height: 16px;width: 16px;}
#filetree li .caption {}
.loader-1 .fa-remove:before {background: url(img/ver-1/spinner-dark.gif);content: ' ';width: 16px;height: 16px;display: inline-block;margin-top: -8px;}

/* Core Styles */
.jaofiletree li a .icon { background-position: left top;background-position: no-repeat; }
#filetree li.directory.drive > a > .caption {ext-transform: capitalize; }
#filetree li.directory.drive > a .drive { background: url(img/drive.png); }
.jaofiletree li.directory > a .icon { background: url(img/directory.png); }
.jaofiletree li.directory.expanded > a .icon { background: url(img/folder_open.png); }
.jaofiletree li.directory.disabled > a .icon { background: url(img/application.png);pacity: .4; }
.jaofiletree li.directory.system > a .icon { background: url(img/application.png);pacity: .4; }
.jaofiletree li.directory.extension > a .icon { background: url(img/db.png);pacity: .4; }
.jaofiletree li.file > a > .icon { background: url(img/txt.png); }
.jaofiletree li.wait > a > span.icon { background: url(img/ver-1/spinner-dark.gif) !important; }
.jaofiletree li.inactive.wait > a > span.icon { background: url(img/ver-1/spinner-unfocus.gif) !important; }
.jaofiletree li.selected.wait > a > span.icon { background: url(img/ver-1/spinner-selected.gif) !important; }

/* File Extensions */
.jaofiletree li a .ext_3gp { background: url(img/film.png) !important; }
.jaofiletree li a .ext_afp { background: url(img/code.png) !important; }
.jaofiletree li a .ext_afpa { background: url(img/code.png) !important; }
.jaofiletree li a .ext_asp { background: url(img/code.png) !important; }
.jaofiletree li a .ext_aspx { background: url(img/code.png) !important; }
.jaofiletree li a .ext_avi { background: url(img/film.png) !important; }
.jaofiletree li a .ext_bat { background: url(img/application.png) !important; }
.jaofiletree li a .ext_bmp { background: url(img/picture.png) !important; }
.jaofiletree li a .ext_c { background: url(img/code.png) !important; }
.jaofiletree li a .ext_cfm { background: url(img/code.png) !important; }
.jaofiletree li a .ext_cgi { background: url(img/code.png) !important; }
.jaofiletree li a .ext_com { background: url(img/application.png) !important; }
.jaofiletree li a .ext_cpp { background: url(img/code.png) !important; }
.jaofiletree li a .ext_css { background: url(img/css.png) !important; }
.jaofiletree li a .ext_doc { background: url(img/doc.png) !important; }
.jaofiletree li a .ext_exe { background: url(img/application.png) !important; }
.jaofiletree li a .ext_gif { background: url(img/picture.png) !important; }
.jaofiletree li a .ext_fla { background: url(img/flash.png) !important; }
.jaofiletree li a .ext_h { background: url(img/code.png) !important; }
.jaofiletree li a .ext_htm { background: url(img/html.png) !important; }
.jaofiletree li a .ext_html { background: url(img/code.png) !important; }
.jaofiletree li a .ext_jar { background: url(img/java.png) !important; }
.jaofiletree li a .ext_jpg { background: url(img/picture.png) !important; }
.jaofiletree li a .ext_jpeg { background: url(img/picture.png) !important; }
.jaofiletree li a .ext_js { background: url(img/script.png) !important; }
.jaofiletree li a .ext_lasso { background: url(img/code.png) !important; }
.jaofiletree li a .ext_log { background: url(img/txt.png) !important; }
.jaofiletree li a .ext_m4p { background: url(img/music.png) !important; }
.jaofiletree li a .ext_mov { background: url(img/film.png) !important; }
.jaofiletree li a .ext_mp3 { background: url(img/music.png) !important; }
.jaofiletree li a .ext_mp4 { background: url(img/film.png) !important; }
.jaofiletree li a .ext_mpg { background: url(img/film.png) !important; }
.jaofiletree li a .ext_mpeg { background: url(img/film.png) !important; }
.jaofiletree li a .ext_ogg { background: url(img/music.png) !important; }
.jaofiletree li a .ext_pcx { background: url(img/picture.png) !important; }
.jaofiletree li a .ext_pdf { background: url(img/pdf.png) !important; }
.jaofiletree li a .ext_php { background: url(img/php.png) !important; }
.jaofiletree li a .ext_png { background: url(img/picture.png) !important; }
.jaofiletree li a .ext_ppt { background: url(img/ppt.png) !important; }
.jaofiletree li a .ext_psd { background: url(img/psd.png) !important; }
.jaofiletree li a .ext_pl { background: url(img/script.png) !important; }
.jaofiletree li a .ext_py { background: url(img/script.png) !important; }
.jaofiletree li a .ext_rb { background: url(img/ruby.png) !important; }
.jaofiletree li a .ext_rbx { background: url(img/ruby.png) !important; }
.jaofiletree li a .ext_rhtml { background: url(img/ruby.png) !important; }
.jaofiletree li a .ext_rpm { background: url(img/linux.png) !important; }
.jaofiletree li a .ext_ruby { background: url(img/ruby.png) !important; }
.jaofiletree li a .ext_sql { background: url(img/db.png) !important; }
.jaofiletree li a .ext_swf { background: url(img/flash.png) !important; }
.jaofiletree li a .ext_tif { background: url(img/picture.png) !important; }
.jaofiletree li a .ext_tiff { background: url(img/picture.png) !important; }
.jaofiletree li a .ext_txt { background: url(img/txt.png) !important; }
.jaofiletree li a .ext_vb { background: url(img/code.png) !important; }
.jaofiletree li a .ext_wav { background: url(img/music.png) !important; }
.jaofiletree li a .ext_wmv { background: url(img/film.png) !important; }
.jaofiletree li a .ext_xls { background: url(img/xls.png) !important; }
.jaofiletree li a .ext_xml { background: url(img/code.png) !important; }
.jaofiletree li a .ext_zip { background: url(img/zip.png) !important; }
.jaofiletree li a .ext_liquid { background: url(img/code.png) !important; }
.jaofiletree li a .ext_json { background: url(img/db.png) !important; }
.jaofiletree li a .ext_scss { background: url(img/css.png) !important; }
.jaofiletree li a .ext_less { background: url(img/css.png) !important; }

/* Core Styles
.jaofiletree li.directory { background: url(img/directory.png); }
.jaofiletree li.expanded { background: url(img/folder_open.png); }
.jaofiletree li.drive { background: url(img/drive.png); }
.jaofiletree li.file { background: url(img/file.png); }
.jaofiletree li.wait { background: url(img/ver-1/spinner.gif) !important; }
 */
/* File Extensions
.jaofiletree li.ext_3gp { background: url(img/film.png); }
.jaofiletree li.ext_afp { background: url(img/code.png); }
.jaofiletree li.ext_afpa { background: url(img/code.png); }
.jaofiletree li.ext_asp { background: url(img/code.png); }
.jaofiletree li.ext_aspx { background: url(img/code.png); }
.jaofiletree li.ext_avi { background: url(img/film.png); }
.jaofiletree li.ext_bat { background: url(img/application.png); }
.jaofiletree li.ext_bmp { background: url(img/picture.png); }
.jaofiletree li.ext_c { background: url(img/code.png); }
.jaofiletree li.ext_cfm { background: url(img/code.png); }
.jaofiletree li.ext_cgi { background: url(img/code.png); }
.jaofiletree li.ext_com { background: url(img/application.png); }
.jaofiletree li.ext_cpp { background: url(img/code.png); }
.jaofiletree li.ext_css { background: url(img/css.png); }
.jaofiletree li.ext_doc { background: url(img/doc.png); }
.jaofiletree li.ext_exe { background: url(img/application.png); }
.jaofiletree li.ext_gif { background: url(img/picture.png); }
.jaofiletree li.ext_fla { background: url(img/flash.png); }
.jaofiletree li.ext_h { background: url(img/code.png); }
.jaofiletree li.ext_htm { background: url(img/html.png); }
.jaofiletree li.ext_html { background: url(img/html.png); }
.jaofiletree li.ext_jar { background: url(img/java.png); }
.jaofiletree li.ext_jpg { background: url(img/picture.png); }
.jaofiletree li.ext_jpeg { background: url(img/picture.png); }
.jaofiletree li.ext_js { background: url(img/script.png); }
.jaofiletree li.ext_lasso { background: url(img/code.png); }
.jaofiletree li.ext_log { background: url(img/txt.png); }
.jaofiletree li.ext_m4p { background: url(img/music.png); }
.jaofiletree li.ext_mov { background: url(img/film.png); }
.jaofiletree li.ext_mp3 { background: url(img/music.png); }
.jaofiletree li.ext_mp4 { background: url(img/film.png); }
.jaofiletree li.ext_mpg { background: url(img/film.png); }
.jaofiletree li.ext_mpeg { background: url(img/film.png); }
.jaofiletree li.ext_ogg { background: url(img/music.png); }
.jaofiletree li.ext_pcx { background: url(img/picture.png); }
.jaofiletree li.ext_pdf { background: url(img/pdf.png); }
.jaofiletree li.ext_php { background: url(img/php.png); }
.jaofiletree li.ext_png { background: url(img/picture.png); }
.jaofiletree li.ext_ppt { background: url(img/ppt.png); }
.jaofiletree li.ext_psd { background: url(img/psd.png); }
.jaofiletree li.ext_pl { background: url(img/script.png); }
.jaofiletree li.ext_py { background: url(img/script.png); }
.jaofiletree li.ext_rb { background: url(img/ruby.png); }
.jaofiletree li.ext_rbx { background: url(img/ruby.png); }
.jaofiletree li.ext_rhtml { background: url(img/ruby.png); }
.jaofiletree li.ext_rpm { background: url(img/linux.png); }
.jaofiletree li.ext_ruby { background: url(img/ruby.png); }
.jaofiletree li.ext_sql { background: url(img/db.png); }
.jaofiletree li.ext_swf { background: url(img/flash.png); }
.jaofiletree li.ext_tif { background: url(img/picture.png); }
.jaofiletree li.ext_tiff { background: url(img/picture.png); }
.jaofiletree li.ext_txt { background: url(img/txt.png); }
.jaofiletree li.ext_vb { background: url(img/code.png); }
.jaofiletree li.ext_wav { background: url(img/music.png); }
.jaofiletree li.ext_wmv { background: url(img/film.png); }
.jaofiletree li.ext_xls { background: url(img/xls.png); }
.jaofiletree li.ext_xml { background: url(img/code.png); }
.jaofiletree li.ext_zip { background: url(img/zip.png); }
*/